<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Clientes</h3>
            </div>
            <div class="col text-right">
              <button
                class="btn btn-success btn-sm"
                [routerLink]="['/cliente/create']"
              >
                <i class="fas fa-plus"></i> Crear Cliente
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Email</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes">
                  <td>{{ cliente.id }}</td>
                  <td>{{ cliente.name }}</td>
                  <td>{{ cliente.email }}</td>
                  <td>{{ cliente.phone }}</td>
                  <td>
                    <button
                      class="btn btn-info btn-sm mr-2"
                      [routerLink]="['/cliente/view', cliente.id]"
                    >
                      Ver
                    </button>
                    <button
                      class="btn btn-warning btn-sm mr-2"
                      [routerLink]="['/cliente/update', cliente.id]"
                    >
                      Editar
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="delete(cliente.id)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
